//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	// border-radius: 0 !important;
	// background: #fbfbfb;
	border-radius: 5px;
	width: 100%;
	display: block;
	padding: 14px 25px;
	border: 1px solid #d9d9d9;
	font-weight: normal;
	font-size: 14px;
	line-height: math.div(17, 14);
	color: #000;

	&._focus {}

	&._error {}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}