.title {
	font-weight: 600;
	@include adaptiveValue("font-size", 30, 26);
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.01em;
	color: #000000;
}

.subtitle {
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.01em;
}